---
layout: default
title: About Us
---

<div class="layout--duo rev">	
	<div class="block text">
 		{% capture homepage %}{% include homepage.md %}{% endcapture %}
		{{ homepage | markdownify }}		

 	</div><!-- 
 --><div class="block square sidebar">
		<img src="img/greenhouse.jpg" width="100%" class="res-image" />
		<div class="news">
			<p class="m-less">We're an ODI Node</p>
			<script src="http://theodi.org/nodes/leeds/badge.js"></script>
		</div>
		<!-- <h2>We are:</h2>
		<ul>
		{% for member in site.data.team %}
			{% capture id %}{{ member.name | downcase | remove:' '}}{% endcapture %}
			<li><a href="{{site.url}}/team/#{{id}}">{{member.name}}</a></li>
		{% endfor %}
		</ul> -->
	</div>
 </div>

 <div class="layout--duo rev">	
	<div class="block">
		
	</div><!-- --><div class="block text">
 		<p class="actions"><a class="button" href="{{site.url}}/team/"><span class="icon-arrow-right"></span>Meet the team</a></p>
 	</div>
</div><!-- .layout uno -->
