<footer class="footer">
	<h2 class="footer--subhead">
		<div class="resp-wrap resp-futurecities">
			<svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 980 50" overflow="visible" preserveAspectRatio="xMidYMin slice">
				<switch>
					{% include futurecities-cutout.svg %}
					<foreignObject></foreignObject>
				</switch>
			</svg>
		</div><!-- .resp-wrap -->
	</h2>
	<div class="wrap">
		<div class="grid">
			<div class="grid__item lap-and-up-two-thirds">
				<div class="box">
					<h3 class="beta">Contact</h3>
					<!-- <p>Get in touch we'd love to hear from you</p> -->
					<ul class="social">
					<li class="phone"><span class="icon-phone"></span><a href="tel:+447833488697">+44 (0) 7833 488697</a></li>
					<li class="email"><span class="icon-mail"></span><a>paul[at]actuatedfutures.com</a></li>
					<li class="email"><span class="icon-mail"></span><a>phil[at]actuatedfutures.com</a></li>
					<li class="email"><span class="icon-mail"></span><a>matt[at]actuatedfutures.com</a></li>
					</ul>					
				</div>
			</div><div class="grid__item lap-and-up-one-third">
				<div class="box">
					<h3 class="beta">On the web</h3>
					<ul class="social">
					<li><span class="icon-twitter"></span><a href="http://twitter.com/actuatedfutures/">follow us</a></li>
					<li><span class="icon-github"></span><a href="http://github.com/actuatedfutures/">fork us</a></li>
					</ul>
				</div>
			</div>
			<div class="grid__item footer--lower">
				<div class="box">				
					<div class="vcard">
						<p class="m-none">
							<span class="street-address">Workspace 9, Greenhouse</span>,
							<span class="street-address">Beeston Road</span>,
							<span class="region">Leeds</span>,
							<span class="postal-code">LS11 6AD</span>,
							<span class="country-name">United Kingdom</span>	
						</p>
					</div><!-- .vcard -->
					<div class="copy">&copy; Actuated Futures {{ site.time | date_to_long_string | split:" " | last }} </div>
				</div><!-- .box -->
			</div><!-- .grid_item -->
		</div><!-- .grid -->
	</div><!-- .wrap -->
</footer>
<!--[if lt IE 9]> </div> <![endif]-->
{% include javascript.html %}
</body>
</html>