.header {
	padding-top:$bsu/4;
	// background-color:rgba(black,0.1);		

	.logo {
		width:70%;
		@include below(pem(480)) {max-width: 220px;}
		margin:0 auto;
		@include above(pem(480)) {width:25%;}
		@include above(pem(768)) {width:20%;}
		@include above(pem(1024)) {width:15%;}

		// @include background(
		// 	// linear-gradient(left, $red 5%, $blue 95%)
		// 	radial-gradient(50% 10%, 100% 90%, $blue, $grey)
		// )
	}
}

.name {
	text-transform:uppercase;
	text-align:center;
	font-size:3em;
	font-weight:normal;
	line-height:1;

	// actuated is bold
	.name--one {font-weight:$font-bold;font-size:0.95em;margin-top:0.05em}
	.name--two {font-size:1.15em;}

	// split up the words for wrapping under 480px.
	@include below(pem(480)) {.names:before {content:' ';display:inline;}}

	@include above(pem(480))
	{
		$gap:30%;
		position:absolute;
		top:0;left:0;
		width:100%;
		font-size:2em;
		margin-top:12%;

		.names {
			@include inline-block();
			width:(100%-$gap)/2;
		}
		.name--one {
			margin-right:$gap;
			text-align:right;
		}
		.name--two {
			text-align:left;
			font-size:1em;
		}	
	}

	@include above(pem(768))
	{
		font-size:3em;

		$gap:25%;
		margin-top:7%;

		.names {
			width:(100%-$gap)/2;
		}
		.name--one {
			margin-right:$gap;
		}
	}

	@include above(pem(1024))
	{
		font-size:3em;

		$gap:20%;
		margin-top:4.5%;

		.names {
			width:(100%-$gap)/2;
		}
		.name--one {
			margin-right:$gap;
		}
	}
}