.topnav {
	margin-top:$bsu;
	font-size:1.25em;
	text-transform:uppercase;	
	@extend .bg-grey;	

	@include above(pem(480))
	{
		margin-bottom:1.2em;
	}

	// bg color on whole block (not individual items.)
	.nav {
		height:100%;
		max-width:1042px;
		margin:0 auto;
		@include above(pem(480))
		{
			padding-top:$bsu/2;		
		}	
	}

	// each link
	li {
		width:100%;
		a {
			width:100%;
			text-align:center;
			text-decoration:none;
			padding:0.5em;
			border-bottom:1px solid white;			
			@extend .t-blue;
		}

		&.current a {
			background-color:white;
			color:black;			
			@extend .t-red;
			@include above(pem(480))
			{
				box-shadow:0px 1px 0px 0px rgba(black,0.42) inset;
			}
		}
		
		&:last-child a {border:none}

		&.control a {
			background-color:rgba(black,0.42);
		}
	}

	// start with the hide button ... hidden.
	.control.hide {
		display:none;
	}
	
	// mobile – control the hide/show of the menu
	@include below(pem(481))
	{
		overflow:hidden;
		max-height:51px;
		@include single-transition(max-height 1s ease-out);

		&:target, &.show {
			max-height:400px;
			.menu {
				display:none;
			}
			.hide {
				display:block;
			}
		}	
		margin-bottom:$bsu;
	}
	
	// above mobile – display as fill width link string.
	@include above(pem(480))
	{		
		margin-top:0;
		.control {display:none}
		.nav {
			display:table;
			width:100%;
		}
		li {
			display:table-cell;
			width:auto;
			a {
				border:none;				
				// @include single-transition(all 0.1s ease-out);
				// border-right:1px solid rgba(white,0.42);		
				&:hover {
					background-color:$blue;
					color:white;
					// box-shadow:0px 1px 0px 0px rgba(black,0.42) inset;
				}
			}
		}
	}

	
}