// import all the lovely compass.
@import "compass/css3/inline-block";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/css3/images";

// include normalize.
@import "normalize-css/normalize";

// vars for inuit.
$use-nav:true;
$use-grids:true;
$base-line-height:24px;
$bsu:$base-line-height;

// then grab inuit.
@import "inuit.css/inuit";

// now my own personal mixins.
@import "mixins"; 

// and an icon font (love these).
@import "iconfont";

// set up some useful normal/bold weights (just in case your webfont uses different values).
$font-normal:300;
$font-bold:700;

@import "colours";

body {
	font-family: "Exo 2", sans-serif;
	font-weight: $font-normal;
	@extend .t-grey;

	b,strong {
		font-weight:$font-bold;
	}

	@include above(pem(1025))
	{
		font-size:20px; 
	}
}	

h2 {
	margin-bottom:$bsu/3;
}

.text {
	h2 {
		@extend .t-blue;
		font-size:2.5em;
		line-height:1em;
		margin-bottom:1.2em;
		&.less {
			margin-bottom:0.25em;
		}
	}
	h3 {
		font-size:1.5em;
		line-height:1.2;
		margin-bottom:2em;
	}
	p {
		margin-bottom:1.5em;
		strong {
			@extend .t-blue;
		}
	}
}

a {@extend .t-blue;}
a:hover {@extend .t-red;}

.res-image {display:block;}

[class^="icon-"], [class*=" icon-"] {

	position:relative;
	top:2px;
	margin:0 0.5em 0 0;
	
	&.icon-right {
		margin:0 0 0 0.5em;
	}
}

[class^="layout-"], [class*=" layout-"] {

	margin:0 $bsu/2;	
	max-width:1042px;
	@include above(pem(480))
	{
		margin:0 $bsu;
	}
	@include above(pem(1024))
	{
		margin:0 auto;
	}
	.block {
		@include inline-block();
		vertical-align:top;
	}
}

.cityback {
	background:$grey url('../img/city-background.jpg') no-repeat fixed top center;
	background-size:cover;
}

@import "header";
@import "nav";
@import "layout-duo";
@import "layout-trio";

.svg-wrapper {
    position:relative;
    width:100%;
    height:0;    
    overflow:hidden;

    svg, iframe {
        position:absolute;
        top:0;
        left:0;
    }

    iframe {
        width:100%;
        height:100%;
    }
}

.footer {
	position:relative;
	margin-top:1.5em;
	padding-bottom:$bsu;
	@extend .bg-grey;
	@extend .t-white;	
	@extend .cityback;
	.wrap {
		@extend .cf;
		max-width:1024px;
		margin:0 auto;
		padding:0 $bsu;	
	}
	.box {
		background-color:rgba(black,0.62);
		padding:$bsu/2 $bsu $bsu;
		margin-top:$bsu;
	}
	a {
		text-decoration: none;
	}
}

.social {
	list-style:none;
	margin:0;
}

.footer--subhead {
	max-width:1024px;
	margin:0 auto;
}

.debug {
	position:absolute;
	bottom:0;right:0;
	margin:0 0.25em 0.25em 0;
}