{% include html_head.html %}
<body>

{% include top.html %}

<div class="layout--duo rev">	
	<div class="block text">
			<h2>{{ page.title }}</h2>
			{{ content }}
	</div><!--
 --><div class="block square sidebar">
 		<img src="{{site.url}}{{page.image}}" width="100%" class="res-image" />

		<div class="news">
			<h3>More news</h3>
	 		<ul>
			{% for post in site.posts limit:20 %}
				<li>
				    <!-- <span>{{ post.date | date: "%B %e, %Y" | ordinalize  }}</span> -->
				    <a href="{{site.url}}{{ post.url }}">{{ post.title }}</a>
			    </li>
			{% endfor %}
			</ul>	
		</div><!-- .news -->
	</div><!-- .block -->
</div><!-- .layout -->

{% include bottom.html %}